<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat City</title>

</head>

<body>
  <div style="margin:100px;">
    <div class="jumbotron" style="padding:40px;">
      <h3>Chat Log With: {{opponent.firstName}} {{opponent.lastName}}</h3>
      {{# each messages}}
      <h3>{{this.name}}: {{ this.text }} </h3>
      {{/each}}
      <div id="message-container"></div>
      <form action="/chat" method="POST" id="send-container">
        <div class="form-group">
          <input type="hidden" id="chatId" name="chatId" value={{chatId}}>
          <input type="text" id="message-input" name="messageInput">
          <button type="submit" id="send-button">Send</button>
      </form>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="server.js"></script>

</html>