<!DOCTYPE html>
<html>

<head>
  <style>
    li {
      display: inline-block;
      /* You can also add some margins here to make it look prettier */
      zoom: 1;
      *display: inline;
      /* this fix is needed for IE7- */
    }
  </style>

</head>

<body>
  <div>
    <div style="margin:100px;">
      <div class="jumbotron" style="padding:40px;">
        <h1>
          <center>Official Match Contract</center>
        </h1>
        <h5>Print This Contract and Bring It To The Match</h5>
        <h5>Sign your name under Match Details</h5>
        <h5>Give this contract to the referee BEFORE the match starts</h5>
        <h5>Follow the Post Match Instructions</h5>
        <br>
        <h1>
          <center>Match Details</center>
          <h5>*The competitor rankings shown below were locked in at the time
            this match was accepted so they may differ from your current rankings.
          </h5>
          <br>
        </h1>
        <h3>RED Corner: {{ contract.player.firstName }} {{ contract.player.lastName }}
          Gi {{ contract.playerRank.gi }} / NoGi {{ contract.playerRank.nogi }}
        </h3>
        <h3>RED Sign Here:</h3>
        <h3>BLUE Corner: {{ contract.opponent.firstName }} {{ contract.opponent.lastName }}
          Gi {{ contract.opponentRank.gi }} , NoGi {{ contract.opponentRank.nogi }}
        </h3>
        <h3>BLUE Sign Here:</h3>
        <h3>Match Weight Class: {{ contract.weightClass }}
        <h3>Weight Limit: {{contract.kilos}} Kilograms</h3>
        <h3>Location: {{ contract.school }} </h3>
        </h3>
        <h3>Date: {{ contract.date.month }} {{ contract.date.day }}, {{ contract.date.year }} at
          {{ contract.date.hour }}:{{ contract.date.minutes }} </h3>
        <h3>Rules: {{ contract.rules }}</h3>
        <h3>Comments from RED: {{ contract.comments }}</h3>
        <br><br><br>
        <h1>
          <center>Match Result</center>
        </h1>
        <h5>
          <center>(to be completed by the referee)</center>
        </h5>
        <br>
        <h3>Winner(circle one): RED / BLUE / DRAW</h3>
        <br>
        <h3>Method(circle one): Submission / Points / DQ / Forfeit / Injury / Advantage</h3>
        <br>
        <h3>Comments:</h3>
        <br><br><br>
        <h3>Referee Name: {{ contract.refereeFirstName }} {{contract.refereeLastName}} </h3>
        <br>
        <h3>Referee Signature: </h3>
        <h3>Date: </h3>
        <br> <br>
        <h3>Post Match Instructions: </h3>
        <ul>
          <li>After the match has concluded, the referee signs this contract and returns it to
            the competitor</li>
          <li>The WINNER will then scan and email this page only (not the rules) to <u>rival.contracts@gmail.com</u>
          </li>
          <li>Once we receive the contract, your record and rank will be updated in 24-48 hours.</li>
          <li>The competitor who lost the match should should keep his copy of the contract in case
            of a record error.
          </li>
        </ul>
        <br>
      </div>
    </div>
  </div>
</body>

</html>