<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div>
    <div style="margin:100px;">
      <div class="jumbotron" style="padding:40px;">
        <h1>Official Contract Document</h1>
        <h5>Print This Contract and Bring It To The Match</h5>
        <h5>Give this contract to the referee BEFORE the match starts</h5>
        <br>
        <h1>Match Details</h1>
        <h3>RED Corner: {{ contract.player.firstName }} {{ contract.player.lastName }} 
          Gi {{ contract.playerRank.gi }} / NoGi {{ contract.playerRank.nogi }} 

        </h3>
        <h3>BLUE Corner: {{ contract.opponent.firstName }} {{ contract.opponent.lastName }}  
          Gi {{ contract.opponentRank.gi }} , NoGi {{ contract.opponentRank.nogi }}

        </h3>    
        <h3>Match Weight Class: {{ contract.weightClass }} ( Weight Limit: {{contract.kilos}} Kilograms )
        <h3>Location: {{ contract.school }} </h3>
        <h3>Date: {{ contract.date.month }} {{ contract.date.day }}, {{ contract.date.year }} at
          {{ contract.date.hour }}:{{ contract.date.minutes }} </h3>
        <h3>Rules: {{ contract.rules }}</h3>
        <h3>Comments: {{ contract.comments }}</h3>
        <br>
        <h1>Match Result: To Be Completed By The Referee</h1>
        <ul>
          <li>
            <h3>Winner (circle one): <ul>   
              <li>RED</li>
              <li>BLUE</li>
              <li>DRAW</li>
            </ul>  
            </h3>
          </li>
          <h4>Win By: (circle one): Submission / Points / DQ / Forfeit / Injury / Advantage</h4>
          <h3>Comments: </h3>
          <br>
          <h3>Referee Name: {{ contract.refereeFirstName }} {{contract.refereeLastName}} </h3>
          <h3>Referee Signature: </h3>
        </ul>
        <h3>Post Match Instructions: </h3>
        <ul>
          <li>After the match has concluded and the referee has signed this contract, the <u>winner</u> will scan and
            email a copy
            of this contract to <u>rival.contracts@gmail.com</u>. We will update your record with the results in 24-48
            hours.
          </li>
          <li>The competitor who lost the match should should keep his copy of the contract in case
            any disputes arise about the outcome of the match
          </li>
        </ul>
        <br>
      </div>
    </div>
  </div>
</body>

</html>