<!DOCTYPE html> 
<html> 
<head> 
   {{>style}}       
</head> 
{{>header}}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		
    	 <div class="well profile">
            <div class="col-sm-12">
                
                    <h2>{{player.firstName}} {{player.lastName}}</h2>
                    <p><strong>School: </strong> {{player.school}}</p>
                    <p><strong>Gi Rank: </strong> {{player.gi}}</p>
                    <p><strong>NoGi Rank: </strong> {{player.nogi}} </p>
                    <p><strong>Weight: </strong>{{player.weight}}</p>
                    <p><strong>Match History: </strong></p>
                    
                    <br>
                    <p><a class="btn btn-primary btn-lg" href="/challenge/{{player._id}}" role="button">Challenge</a></p>  
                  
                         
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>            
    	 </div>                 
	</div>
</div>