<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div>
        <div style="margin:100px;">
            <div class="jumbotron" style="padding:40px;">
                <h1>{{title}}</h1>
                <br>
                {{# each contracts }}
                <img src='/avatar-pictures/{{ this.opponent.avatar }}' width="150" height="150" />
                <h3>Opponent Name: {{ this.opponent.first }} {{ this.opponent.last }}</h3>
                <h3>Match Status: {{this.result}}</h3>
                <p><a class="btn btn-primary btn-lg" href="/contract/{{this._id}}" role="button">Match Details</a></p>
                <br>
                {{/each}}
            </div>
        </div>
    </div>
    </div>
</body>

</html>